body{
    font-family:"Nunica",sans-serif;
    font-size: 12pt;
}
.logo{
    width: 80%;
    text-decoration: none;
    display: flex;
    flex-direction: column;

}
.logo-titulo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.linha-logo{
    width: 50%;
    height: 2px;
    margin: auto;
    border: solid 1px rgba(0, 0, 0, 0.61);
    /* background-color: black; */
    margin: 5px auto 20px auto;
}

.nav{
    width: 90%;
}

.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.nav-item{
    background-color: rgba(211, 211, 211, 0.726);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    color: rgb(29, 28, 28);
    font-size: 16px;
    font-weight: 600;
}
.nav-link{
    width: 100%;
    text-decoration: none;    
    
}
.nav-item:active{
    box-shadow: .5px .5px black;
}

.painel-txt{
    display: flex;
    width: 80%;
}
#txta{
    resize:none; overflow: auto; opacity:1; height: 350px;box-shadow: 1px 0.5px 10px;
}

.cont-metrica{
    border: solid rgba(0, 0, 0, 0.63);
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.painel-title{
    text-align: center;
}
.title{
    text-decoration: none;
    font-size: 14pt;
    color:black;
}
.list-item{
    margin-top: 5px;
}
.title:hover{
    color: cadetblue;
}
.text-menu-terciario{
    font-size: 16px;
}

.footer{
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: black;
}

/* ******** Media Screen *******/

@media screen and (max-width: 360px) {
    .logo{
        width: 100%;
    }
    .logo-titulo{
        text-align: center;
        font-size: 25px;
        
    }
    
}